<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">
    <id>additionalordertypes</id>
    <name>Additional Order Types</name>
    <version>${project.version}</version>
    <package>org.openmrs.module.additionalordertypes</package>
    <author>OpenMRS</author>
    <description>Adds procedure and medical supply order types to OpenMRS.</description>
    <activator>org.openmrs.module.additionalordertypes.AdditionalOrderTypesActivator</activator>
    <require_version>${openmrsPlatformVersion}</require_version>
    <require_modules>
        <require_module>org.openmrs.module.webservices.rest</require_module>
    </require_modules>
    <mappingFiles>
        ProcedureOrder.hbm.xml
        MedicalSupplyOrder.hbm.xml
    </mappingFiles>
</module>
